body {
	background-color: var(--resa_body_background_color);
	overflow-x: hidden;
	overflow-wrap: break-word;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: var(--resa_base_text_color);
}

