ins,
mark {

	color: var(--resa_base_text_color);
	background-color: #fffbae; // light yellow
	text-decoration: none;




	background: #ff0;
	color: var(--resa_black_color);
	text-decoration: none;
	font-weight: 600;
	background: transparent;
}
