ol {
	list-style: decimal;
	margin-bottom: var(--resa_list_item_spacing);
	padding-inline-start: var(--resa_list_indent);

	li {
		margin-bottom: var(--resa_list_item_spacing);
	}

	ul, ol {

		margin-top: var(--resa_list_item_spacing);
	}
}
