.alignleft {
	display: inline;
	float: left;
	margin-right: 1.41575em;
	margin-bottom: 1.41575em;
	clear: both;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.41575em;
	margin-bottom: 1.41575em;
	clear: both;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
	margin-bottom: 1.41575em;
}
