.pagination {
	text-align: center;
	display: block;
	margin-bottom: 30px;

	.page-numbers {
		display: inline-block;
		text-align: center;
		font-weight: 400;
		width: 40px;
		height: 40px;
		line-height: 35px;
		border-radius: 5px;
		color: var(--resa_black_color);
		background-color: var(--resa_white_color);
		border: 2px solid var(--resa_border_color);
		padding: 0;

		.resa-icon {
			font-size: 0.8em;
			color: inherit;
		}

		&:hover {
			background-color: var(--resa_primary_color);
			border-color: var(--resa_primary_color);
			color: var(--resa_white_color);

		}

		&.current {
			background-color: var(--resa_primary_color);
			border-color: var(--resa_primary_color);
			color: var(--resa_white_color);
		}
	}
}
